
* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;  
  background: black;
  background-repeat: no-repeat;
  background-size: 80%;
}

nav {
  position: fixed;
  top: 15%;  
  height: 60vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  font-size: 1.1em;  
  grid-column: 1/2;
  grid-row: 1/-1; 
}


.portfolio {
  padding: 10px;
  color: white;
  text-decoration: none;
}
.skills {
  padding: 10px;
  color: white;
  text-decoration: none;
}
.contact {
  padding: 10px;
  color: white;
  text-decoration: none;
}

.portfolio-section {
  display: flex;
  flex-direction: column;  
  grid-column: 3/6;  
}

.project {
  margin: 2px;  
  width: 240px;
  height: 240px;  
}

.project1 { 
  background-color: lightpink;
}

.project2 {
  background-color: lightskyblue;
}

.project3 { 
  background-color: blueviolet;
}

.project4 { 
  background-color: steelblue;
}


/* 576px for portrait phones */

/* 768px for tablets */
@media screen and (min-width: 600px){
  nav {    
    font-size: 1.3em; 
  }

  
  .portfolio-section {
    grid-column: 3/6;
  }

  .project {     
    width: 260px;
    height: 260px;  
  }




}

/* 992px for laptops */
@media screen and (min-width: 760px) {
  nav {
    width: 110px;
    font-size: 1.4em; 
  }
  .portfolio-section {
    flex-direction: row;
    flex-wrap: wrap;
    grid-column: 2/8;
  }
  .project {     
    width: 280px;
    height: 280px;  
  }  

}

/* 1200px for large devices */
@media screen and (min-width: 1200px) {
  nav {
    width: 120px;
    font-size: 1.5em; 
  }

  .project {     
    width: 300px;
    height: 300px;  
  }
}